<div class="product-single__props-wrapper">
  <div class="product-single__prop">
    <label for="engraving">Engraving</label>
    <input id="engraving" type="text" name="properties[Engraving]">
  </div>
</div>

<div class="product-single__props-wrapper">
  <div class="">
    <div>Package</div>
    <label><input type="radio" name="properties[Package]" value="Red"> Red</label>
    <label><input type="radio" name="properties[Package]" value="Green"> Green</label>
    <label><input type="radio" name="properties[Package]" value="Blue"> Blue</label>
  </div>
</div>

<div class="product-single__props-wrapper">
  <div class="">
    <input type="hidden" name="properties[Is a gift]" value="No">
    <label><input type="checkbox" name="properties[Is a gift]" value="Yes"> Is a gift</label>
  </div>
</div>