<div class="product-single__prop">
  <label for="engraving">Engraving</label>
  <input id="engraving" type="text" name="properties[Engraving]">
</div>

<div class="product-single__prop">
  <label for="engraving">Engraving position</label>
  <select id="engraving_position" name="properties[Position]">
    <option value="">Not selected</option>
    <option value="Left">Left</option>
    <option value="Center">Center</option>
    <option value="Right">Right</option>
  </select>
</div>

<div class="product-single__prop">
  <div>Package</div>
  <label><input type="radio" name="properties[Package]" value="Red"> Red</label>
  <label><input type="radio" name="properties[Package]" value="Green"> Green</label>
  <label><input type="radio" name="properties[Package]" value="Blue"> Blue</label>
</div>

<div class="product-single__prop">
  <input type="hidden" name="properties[Is a gift]" value="No">
  <label><input type="checkbox" name="properties[Is a gift]" value="Yes"> Is a gift</label>
</div>