.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.25rem;
}

.cards__card {
  border: 1px solid #20344C;
  border-top: 3px solid #243953;
  background-color: rgba(26, 37, 63, .3);
  border-radius: .875rem;
  padding: 2rem 1.5rem 0;
  position: relative;
  transition: .15s;
  z-index: 1;

  &--feat {
    grid-column: span 2;
  }

  &:hover {
    transform: scale(1.02);
    background-color: rgba(26, 37, 63, .5);
  }

  .codeblock {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 1.75rem;
  }

  .codeblock__wrapper {
    border: 1px solid #20344C;
    border-bottom: 0;
    border-radius: .75rem .75rem 0 0;
  }
}

.cards__card-title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.cards__card-description {
  color: #b5bedd;

  a {
    color: inherit !important;
  }
}