:root,
::before,
::after {
  --header-height: 3rem;
}

.layout-home-v2 {
  --header-height: 4rem;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  @media (min-width: 1920px) {
    font-size: 0.83vw;
  }
}

body {
  font-size: 1rem;
  line-height: 1.6;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  overflow-y: scroll;
}

strong {
  font-weight: 600;
}

code {
  font-family: 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
:not(pre) > code {
  font-size: .9375em !important;
  color: inherit !important;
  background-color: #f9f9f9;
  //border: 1px solid #999999;
  padding: 0 .25em;
  border-radius: .125em;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 2rem;
  display: block;
}

.lead {
  font-size: 1.125rem;
  //font-size: 1.25rem;
  //padding-bottom: 1.5rem;
  margin-bottom: 1.5rem !important;
  //border-bottom: 1px solid #DBDBDB;
  + p {
    //padding-top: 1.5rem;
    //margin-top: 1.5rem !important;
    //border-top: 1px solid #DBDBDB;
  }
}

.redirect-message {
  position: fixed;
  top: 50%;
  text-align: center;
  background: black;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 18.75rem;
  color: white;
  border-radius: 0.3rem;
  padding: 0.8rem;
  z-index: 100;

  a {
    color: white;
  }

  &:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
  }
}