:root,
::before,
::after {
  // TODO: put global CSS vars here
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

code {
  font-family: 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 0.875rem;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 2rem;
}

.lead {
  font-size: 1.125rem;
}

.code-editor-header {
  background-color: black;
  color: white;
  font-family: 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: .75rem;
  padding: .5rem 1.5rem;
  border-radius: .75rem .75rem 0 0;
}