.footer {
  padding: 2rem 0;
  border-top: 1px solid #bababa;
  margin-top: 4rem;
  color: #717171;
  font-size: .875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: inherit;
  }

  .homepage & {
    border-top-color: #20344C;
    color: #b5bedd;

    svg * {
      fill: #b5bedd;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    text-align: center;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}