@keyframes homepage-light {
  50% {
    opacity: .6;
  }
}

.homepage {
  overflow: hidden;
  width: 100%;

  :not(pre) > code {
    background-color: transparent;
    border: 1px solid #20344C;
  }

  a {
    color: inherit;
    text-decoration-thickness: from-font;
    text-decoration-color: rgba(255, 255, 255, .5);
    &:hover {
      text-decoration-color: currentColor;
    }
  }
}

.homepage__light {
  width: 1px;
  height: 1px;
  position: absolute;
  box-shadow: 0 0 var(--homepage-light-strength, 10rem) calc(var(--homepage-light-strength, 10rem) / 2) rgba(57, 151, 72, var(--homepage-light-opacity, .5));
  z-index: -1;
  animation: homepage-light 5s infinite;
}

.homepage__container {
  max-width: 66rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.homepage__container--wide {
  max-width: none;
}

.homepage__hero {
  max-width: 54rem;
  margin-top: 6rem;
  margin-bottom: 5rem;
  position: relative;

  @media (min-width: 600px) {
    margin-top: 8rem;
  }
}

.homepage__hero-version {
  text-decoration: none;
  //font-size: .875rem;
  display: inline-block;
  margin-bottom: 1.6rem;
  color: #ced1de;

  span {
    //font-size: 0.625rem;
    //letter-spacing: .1em;
    padding: .15rem .8rem;
    //text-transform: uppercase;
    border-radius: 1000rem;
    display: inline-block;
    //margin-bottom: .25rem;
    //border: 1px solid #08530F;
    font-weight: 700;
    background-color: #06490c;
    margin-right: .5rem;
    color: white;
    margin-bottom: .5rem;
  }

  em {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    transition: color .15s;
  }

  @media (min-width: 650px) {
    br {
      display: none;
    }
  }
}
.homepage__hero-version:hover em {
  color: white;
}

.homepage__hero-title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1rem;

  @media (min-width: 600px) {
    font-size: 3.5rem;
  }
}

.homepage__lead {
  font-size: 1.375rem;
  margin-bottom: 1.3rem;
}

.homepage__button {
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid currentColor;
  border-radius: .375rem;
  padding: .6rem 1.2rem;
  text-decoration: none;
  color: inherit;
  transition: all .15s;
  display: inline-block;
}
.homepage__button:hover {
  background-color: white;
  color: black;
}

.homepage__title-block {
  margin-top: 8rem;
  //max-width: 53rem;
}

.homepage__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1rem;

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}

.homepage__two-cols-text > *:first-child {
  max-width: 44rem;
}

.homepage__two-cols-text > *:last-child {
  font-size: .875rem;
  width: 16rem;
  flex: 0 0 16rem;
  margin: 2rem 0;
}

@media (min-width: 960px) {
  .homepage__two-cols-text {
    display: flex;
  }
  .homepage__two-cols-text > *:first-child {
    max-width: none;
  }
  .homepage__two-cols-text > *:last-child {
    margin: 0 0 0 6rem;
  }
}

.homepage__github-cta {
  display: inline-flex;
  border: 1px solid #20344C;
  border-radius: 0.5rem;
  font-size: .875rem;
  gap: 0.5rem;
  padding: 0.5rem 0.7rem;
  background: rgba(26, 37, 63, 0.3);
  color: #b5bedd;
  align-items: flex-start;

  svg {
    width: 1.3rem;
    height: auto;
    display: inline-block;
    flex: 0 0 1.3rem
  }
}

.homepage__subtitle {
  font-size: 1.7rem;
  margin: 3rem 0 .6rem;
  font-weight: bold;
}