.markdown {
  h1 {
    font-size: 2rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2.5rem 0 1rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2.5rem;
  }
}