.showcases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.showcases__item-wrapper {
  min-width: 0;
}

.showcases__item {
  position: relative;

  a {
    text-decoration-color: rgba(255, 255, 255, .6);

    &:hover {
      text-decoration-color: currentColor;
    }
  }
}

.showcases__item-image-placeholder {
  position: relative;
  margin-bottom: .5rem;
  border-radius: .3125rem;
  overflow: hidden;

  &--fake {
    border: 1px solid #20344C;
  }
}

.showcases__item-image-placeholder:after {
  content: '';
  display: block;
  background-color: rgba(26, 37, 63, 0.3);
}

.showcases__item-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.showcases__item-copy {
  font-size: .75rem;
}

.showcases__item-title {
  //font-size: 17px;
  font-weight: bold;
}

.showcases__item-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.showcases__item-image-placeholder:after,
.showcases__item-title:before {
  padding-top: 50%;
}

.showcases__item-meta {
  color: #8699af;
  display: block;
}

.showcases__item-meta:empty {
  display: none;
}

.showcases__submit {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  top: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  opacity: .6;
  transition: opacity .3s;
  line-height: 1.2;
}
.showcases__submit span:last-child {
  font-size: .75rem;
}
.showcases__item:hover .showcases__submit {
  opacity: 1;
}
//
//@media (min-width: 410px) {
//  .showcases__item-meta {
//    display: inline;
//  }
//
//  .showcases__item-meta:before {
//    content: '';
//    margin: 0 12px;
//    display: inline-block;
//    vertical-align: middle;
//    width: 1px;
//    height: 1em;
//    background-color: rgba(255, 255, 255, .2);
//  }
//}