<div class="page-width">
  {{ section.settings.custom_html }}
</div>



{% schema %}
{
  "name": {
    "cs": "Vlastní HTML",
    "da": "Tilpasset HTML",
    "de": "Benutzerdefiniertes HTML",
    "en": "Custom HTML",
    "es": "HTML personalizado",
    "fi": "Mukautettu HTML",
    "fr": "Code HTML personnalisé",
    "it": "HTML personalizzato",
    "ja": "HTMLをカスタムする",
    "ko": "사용자 지정 HTML",
    "nb": "Tilpasset HTML",
    "nl": "Aangepaste HTML",
    "pl": "Niestandardowy HTML",
    "pt-BR": "HTML personalizado",
    "pt-PT": "HTML personalizado",
    "sv": "Anpassa HTML",
    "th": "HTML แบบกำหนดเอง",
    "tr": "Özel HTML",
    "vi": "HTML tùy chỉnh",
    "zh-CN": "自定义 HTML",
    "zh-TW": "自訂 HTML"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "html",
      "id": "custom_html",
      "label": {
        "cs": "Vlastní HTML",
        "da": "Tilpasset HTML",
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fi": "Mukautettu HTML",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "ko": "사용자 지정 HTML",
        "nb": "Tilpasset HTML",
        "nl": "Aangepaste HTML",
        "pl": "Niestandardowy HTML",
        "pt-BR": "HTML personalizado",
        "pt-PT": "HTML personalizado",
        "sv": "Anpassa HTML",
        "th": "HTML แบบกำหนดเอง",
        "tr": "Özel HTML",
        "vi": "HTML tùy chỉnh",
        "zh-CN": "自定义 HTML",
        "zh-TW": "自訂 HTML"
      },
      "default": {
        "cs": "<h2>Informujte o své značce</h2><p>Naformátujte svůj text pomocí HTML, aby byl přehledný a srozumitelný. Prostřednictvím takového textu pak můžete informovat zákazníky o své značce.</p>",
        "da": "<h2>Fortæl om dit brand</h2><p>Brug HTML til at formatere din tekst, så den nemt kan læses.Denne tekst kan bruges til at dele oplysninger om dit brand med dine kunder.</p>",
        "de": "<h2>Informiere über deine Marke</h2><p>Formatiere deinen Text mit HTML, damit er leichter lesbar ist. Mit diesem Text kannst du deine Kunden über deine Marke informieren.</p>",
        "en": "<h2>Talk about your brand</h2><p>Use HTML to format your text so it can be easily read. This text can be used to share information about your brand with customers.</p>",
        "es": "<h2>Habla sobre tu marca</h2><p>Usa HTML para formatear tu texto para que se pueda leer fácilmente. Este texto se puede usar para compartir información sobre tu marca con los clientes.</p>",
        "fi": "<h2>Puhu brändistäs</h2>i<p>Käytä HTML:ää tekstisi muokkaamiseen, jotta sitä voi lukea helposti. Tämän tekstin avulla voit jakaa tietoa brändistäsi asiakkaittesi kanssa.</p>",
        "fr": "<h2>Parlez de votre marque</h2><p>Utilisez le code HTML pour formater votre texte afin qu'il puisse être facilement lu. Vous pouvez utiliser ce texte pour partager des informations sur votre marque avec les clients.</p>",
        "it": "<h2>Parla del tuo brand</h2><p>Utilizza l'HTML per formattare il testo in modo che sia facilmente leggibile. Questo testo può essere utilizzato per condividere le informazioni sul tuo brand con i clienti.</p>",
        "ja": "<h2>あなたのブランドについて話す</h2><p>HTMLを使用してテキストを読みやすくフォーマットしてください。このテキストはあなたのブランドに関する情報をお客様と共有するために使用できます。</p>",
        "ko": "<h2>브랜드 이야기하기</h2> <p>텍스트를 형식화하기 위해 HTML을 사용하여 쉽게 읽을 수 있습니다. 이 텍스트를 사용하여 브랜드에 대한 정보를 고객과 공유할 수 있습니다.</p>",
        "nb": "<h2>Snakk om merkevaren din</h2><p>Bruk HTML for å formatere teksten din så den er lettlest. Denne teksten kan brukes til å dele informasjon om merkevaren din med kundene.</p>",
        "nl": "<h2>Praat over je merk</h2><p>Gebruik HTML om je tekst zo op te maken dat deze makkelijk leesbaar is. Deze tekst kan worden gebruikt om informatie over je merk met klanten te delen.</p>",
        "pl": "<h2>Opowiedz o swojej marce</h2><p>Użyj języka HTML do sformatowania tekstu, tak aby można go było łatwo odczytać. Tekst ten może służyć do udostępniania klientom informacji o marce.</p>",
        "pt-BR": "<h2>Fale sobre sua marca</h2><p>Use HTML para formatar seu texto para que ele possa ser lido com facilidade. Esse texto pode ser usado para compartilhar informações sobre sua marca com os clientes.</p>",
        "pt-PT": "<h2>Fale sobre a sua marca</h2><p>Utilize HTML para formatar o seu texto para que este possa ser lido com facilidade. Este texto pode ser utilizado para partilhar informações sobre a sua marca com os clientes.</p>",
        "sv": "<h2>Prata om ditt varumärke</h2><p> Använd HTML för att formatera din text så att den lätt kan läsas. Den här texten kan användas för att dela information om ditt varumärke med kunder.</p>",
        "th": "<h2>พูดถึงแบรนด์ของคุณ</h2><p>ใช้ HTML เพื่อจัดรูปแบบข้อความของคุณให้อ่านง่าย ข้อความนี้สามารถใช้เพื่อแบ่งปันข้อมูลเกี่ยวกับแบรนด์ของคุณกับลูกค้าได้</p>",
        "tr": "<h2>Markanızdan bahsedin</h2><p>Metninizi, kolayca okunabilmesi için HTML kullanarak biçimlendirin. Bu metin, müşterilerle markanız hakkında bilgi paylaşmak için kullanılabilir.</p>",
        "vi": "<h2>Chia sẻ về thương hiệu của bạn</h2><p>Sử dụng HTML để định dạng văn bản sao cho dễ đọc. Có thể sử dụng văn bản này để chia sẻ thông tin về thương hiệu của bạn với khách hàng.</p>",
        "zh-CN": "<h2>介绍您的品牌</h2><p>使用 HTML 设置文本格式，以便轻松阅读。此文本可用于与客户分享有关您的品牌的信息。</p>",
        "zh-TW": "<h2>描述您的品牌</h2><p>使用 HTML 設定文字格式，使文字容易閱讀。這段文字可以用來與顧客分享您的品牌資訊。</p>"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Vlastní HTML",
        "da": "Tilpasset HTML",
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fi": "Mukautettu HTML",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "ko": "사용자 지정 HTML",
        "nb": "Tilpasset HTML",
        "nl": "Aangepaste HTML",
        "pl": "Niestandardowy HTML",
        "pt-BR": "HTML personalizado",
        "pt-PT": "HTML personalizado",
        "sv": "Anpassa HTML",
        "th": "HTML แบบกำหนดเอง",
        "tr": "Özel HTML",
        "vi": "HTML tùy chỉnh",
        "zh-CN": "自定义 HTML",
        "zh-TW": "自訂 HTML"
      },
      "category": {
        "cs": "Pokročilé",
        "da": "Avanceret",
        "de": "Advanced",
        "en": "Advanced",
        "es": "Avanzado",
        "fi": "Advanced",
        "fr": "Advanced",
        "it": "Advanced",
        "ja": "高度",
        "ko": "Advanced",
        "nb": "Avansert",
        "nl": "Advanced",
        "pl": "Zaawansowane",
        "pt-BR": "Advanced",
        "pt-PT": "Avançado",
        "sv": "Avancerad",
        "th": "ขั้นสูง",
        "tr": "Gelişmiş",
        "vi": "Nâng cao",
        "zh-CN": "高级版",
        "zh-TW": "Advanced"
      }
    }
  ]
}
{% endschema %}
