a {
    /*
    @include themer(color, (
        'dark': $site-ui-brand-dark,
        'light': $site-ui-brand-light,
    ));
    */
    
    color: currentColor;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-decoration: none;
    background-color: rgba($site-ui-brand-light, .3);
    transition: all .2s;

    &:active,
    &:focus,
    &:hover {
        /*
        @include themer(color, (
            'dark': darken($site-ui-brand-dark, 10%),
            'light': darken($site-ui-brand-light, 10%),
        ));
        */
        
        color: currentColor;
        text-decoration: none;
        border-bottom-color: currentColor;
        background-color: rgba($site-ui-brand-light, .5);
    }
}
