body {
    @include themer(background-color, (
        'dark': $background-color-dark,
        'light': $background-color-light,
    ));
    @include themer(color, (
        'dark': $color-dark,
        'light': $color-light,
    ));

    position: relative;
}

.lead {
    font-weight: 400;
    font-size: 1.4rem;
}
