#shopify-section-header {
	padding-top: 47px;
}

.section-featured-product {
  border: 1px solid rgba(27,30,47,.15);
  padding-left: 17.5px;
  padding-right: 17.5px;
}
@media screen and (min-width: 769px) {
  .section-featured-product {
    padding-left: 27.5px;
    padding-right: 27.5px;
  }
}


.ajax-cart__quantity-button {
	border: none;
	width: 24px;
	height: 24px;
	text-indent: -1000px;
	overflow: hidden;
	position: relative;
	background-color: transparent;
	vertical-align: -6px;
	display: inline-block;
}
.ajax-cart__quantity-button > i:before {
	content: '';
	position: absolute;
	width: 11px;
	height: 1px;
	top: 50%;
	left:  50%;
	margin-left: -5px;
	background-color: black;
}
.ajax-cart__quantity-button:last-child > i:after {
	content: '';
	position: absolute;
	height: 11px;
	width: 1px;
	top: 50%;
	left:  50%;
	margin-top: -5px;
	background-color: black;
}

.ajax-cart__remove-button {
	position: absolute;
    top: 0;
    right: 0px;
    display: block;
    width: auto;
    text-indent: 0;
}

.js-ajax-cart-message {
	font-size: .8em;
}

.js-ajax-cart-message--error {
	color: red;
}

.header-bar {
	position: fixed;
	top:  0;
	left: 0;
	right: 0;
	transition: right .3s;
	z-index: 2;
}

@media screen and (min-width: 1200px) {
	body {
		padding-right: 0;
		transition: all .3s;
	}
	body.js-ajax-cart-open {
		padding-right: 500px;
	}
	.js-ajax-cart-open .header-bar {
		right: 500px;
	}
}

/* Header */
#shopify-section-my-cart > form > div:first-child {
	padding: 40px 30px 20px;
	flex: 0 0 auto;
	position: relative;
}
#shopify-section-my-cart > form > div:first-child h2 {
	margin-bottom: 0;
}
.js-ajax-cart-request-in-progress #shopify-section-my-cart > form > div:first-child:before {
	content: '';
    position: absolute;
    top: 46px;
    right: 30px;
    border: 3px solid rgba(27,30,47,.6);
    border-right-color: transparent;
    border-radius: 100%;
    width: 16px;
	height: 16px;
	animation-name: spin;
  	animation-duration: 500ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Content */
#shopify-section-my-cart > form > div:nth-child(2) {
	flex: 1 1 auto;
	min-height: 1px;
    overflow: auto;
    margin: 0 15px 0 0;
    padding: 0 15px 0 30px;
}
#shopify-section-my-cart > form > div:nth-child(2){ 
	scrollbar-width: 3px;
	scrollbar-color: #757575 #ebebeb;
}
#shopify-section-my-cart > form > div:nth-child(2)::-webkit-scrollbar {
  	width: 3px;
  	height: 1px;
}
#shopify-section-my-cart > form > div:nth-child(2)::-webkit-scrollbar-track {
    background: #ebebeb;
}
#shopify-section-my-cart > form > div:nth-child(2)::-webkit-scrollbar-thumb {
    background: #757575;
}
.js-ajax-cart-request-in-progress #shopify-section-my-cart > form > div:nth-child(2) {
	opacity: .6;
}


/* Line Item */
.ajax-cart__line-item {
	border-bottom: 1px solid rgba(27,30,47,.15);
	padding: 0 0 30px;
	margin-bottom: 30px;
	position: relative;
}
.ajax-cart__line-item:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

/* Footer */
#shopify-section-my-cart > form > div:last-child {
	flex: 0 0 auto;
}

form[action="/cart/add"] button {
	position: relative;
}

form[action="/cart/add"] button:after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-bottom-color: transparent !important;
    animation: .5s linear infinite spin;
    right: 5px;
    top: 5px;
    opacity: 0;
    transition: all .3s;
}
form[action="/cart/add"].js-ajax-cart-form-in-progress [type="submit"] {
	opacity: .7;
	background-color: gray;
}
form[action="/cart/add"].js-ajax-cart-form-in-progress [type="submit"]:after {
	opacity: 1;
}

.cart-page-link {
	position: relative;
}

.js-ajax-cart-request-in-progress .cart-page-link:after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-bottom-color: transparent !important;
    animation: .5s linear infinite spin;
    right: -15px;
    top: 7px;
    opacity: 1;
    transition: all .3s;
}

.header-bar__module:first-child .cart-page-link:after {
	display: none;
}

.js-ajax-cart-set .cart-page-link .cart-count {
	display: inline;
}
.js-ajax-cart-empty .cart-page-link .cart-count {
	display: none;
}

.cart-page-link .cart-count:before {
    display: inline;
    content: "(";
}
.cart-page-link .cart-count:after {
    display: inline;
    content: ")";
}

.product-single__prop {
	margin-bottom: 1em;
}

.product-single__prop input,
.product-single__prop select {
	margin-bottom: 0;
}

@media screen and (min-width: 769px) {
	.product-single__prop > input,
	.product-single__prop > select {
		width: 50%;
	}
}